<div class="container-fluid">
    <div class="row">
        <div style="height: 92vh; width: fit-content;" class="col-lg-2 bg-dark d-flex flex-column p-3">
            <a style="text-decoration: none; color: white;" class="fw-bolder mb-3" routerLink="/dashboard">HOME</a>
            <a style="text-decoration: none; color: white;" class="fw-bolder mb-3" routerLink="/users">USERS</a>
        </div>
        <div class="col p-3">
            <div class="d-flex justify-content-between w-100">
                <h1>All User List</h1>
                <a class="btn btn-success" routerLink="/users/add"><i class="fa-solid fa-user-plus"></i>Add</a>
            </div>

            <div class="d-flex align-items-center mt-5 container">
                <span>Search : </span>
                <input [(ngModel)]="searchKey" type="text" class="form-control ms-2 w-25 me-5" placeholder="Search By User name">
                <div class="dropdown ms-5">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort</button>
                    <ul class="dropdown-menu">
                        <li><button (click)="sortById()" class="dropdown-item">By Id</button></li>
                        <li><button (click)="sortByName()" class="dropdown-item">By Username</button></li>
                    </ul>
                </div>
                <button (click)="generatePDF()" class="btn btn-primary ms-auto">Export</button>
            </div>

            <table class="table shadow mt-5 rounded">
                <thead>
                    <th>No.</th>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUsers | search : searchKey | paginate: { itemsPerPage: 4, currentPage: page} ; let i=index;" [hidden]="!user.empId">
                        <td>{{i}}</td>
                        <td>{{user.empId}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td><span [ngClass]="user.status=='1'? 'text-success':'text-danger'">{{user.status=='1'?'Active':'InActive'}}</span></td>
                        <td>
                            <a routerLink="/users/edit/{{user.id}}" class="btn"><i class="fa-solid fa-pen text-success me-3"></i></a>
                            <button (click)="deleteUser(user.id)" class="btn"><i class="fa-solid fa-trash text-danger"></i>ㅤ</button>
                        </td>
                    </tr>
                    <tr *ngIf="(allUsers | search : searchKey ).length==0">
                        <p class="fw-bolder text-danger">User Not found!!!</p>
                    </tr>
                </tbody>
            </table>
            <div class="text-center mt-4"><pagination-controls (pageChange)="page = $event"></pagination-controls></div>
        </div>
    </div>
</div>