<div class="container-fluid">
    <div class="row">
        <div style="height: 92vh; width: fit-content;" class="col-lg-2 bg-dark d-flex flex-column p-3">
            <a style="text-decoration: none; color: white;" class="fw-bolder mb-3" routerLink="/dashboard">HOME</a>
            <a style="text-decoration: none; color: white;" class="fw-bolder mb-3" routerLink="/users">USERS</a>
        </div>
        <div class="col-lg-10">
            <div style="height: 80%;" class="w-100 d-flex justify-content-center align-items-center flex-column">
                <h1 class="text-center"> Update User Details</h1> 
                <form #editUserForm="ngForm" class="border rounded p-3 w-50 mt-5">
                    <div class="form-floating mb-3">
                        <input name="empId" [(ngModel)]="user.empId"  type="text" class="form-control" id="floatingInputId" placeholder="Employee Id" pattern="[a-zA-Z0-9]*" required #empId="ngModel">
                        <label for="floatingInputId">Employee Id</label>
                        <div *ngIf="empId.invalid && empId.touched" class="mb-3 text-danger">*Invalid Employee Id</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="name" [(ngModel)]="user.name" type="text" class="form-control" id="floatingInputName" placeholder="Username" pattern="[a-zA-Z ]*" required #empName="ngModel">
                        <label for="floatingInputName">Username</label>
                        <div *ngIf="empName.invalid && empName.touched" class="mb-3 text-danger">*Invalid Username</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="email" [(ngModel)]="user.email" type="email" class="form-control" id="floatingInputmail" placeholder="Email" email required #email="ngModel">
                        <label for="floatingInputmail">Email</label>
                        <div *ngIf="email.invalid && email.touched" class="mb-3 text-danger">*Invalid Email</div>
                    </div>
                    <div class="form-floating mb-3">
                        <select name="status" [(ngModel)]="user.status" class="form-control" id="floatingInputstatus" required #status="ngModel">
                            <option disabled selected hidden ></option>
                            <option value="1">Active</option>
                            <option value="0">InActive</option>
                        </select>
                        <label for="floatingInputstatus">Status</label>
                    </div>
                    <div *ngIf="status.invalid && status.touched" class="mb-3 text-danger">*Invalid Employee Status</div>
                    <div class="text-center">
                        <button (click)="Cancel(user.id)" class="btn btn-warning text-light">Cancel</button>
                        <button (click)="updateUser(user.id)" [disabled]="editUserForm.invalid" class="btn btn-success text-light ms-5">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
